<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categoría</title>
    <!--Script para ponerle icono a la pagina-->
    <link rel="icon" href="../../resources/img/iconos/loguito.ico">
    <!--Enlace para mandar a llamar propiedad de boostrap.css-->
    <link rel="stylesheet" href="../../resources/css/css_boostrap.css">
    <!--Enlace para mandar a llamar el css-->
    <link rel="stylesheet" href="../../resources/css/index.css">
    <link rel="stylesheet" href="../../resources/css/scrooll.css">
    <!-- ejemplo -->
</head>

<body>

    <!--Navbar-->
    <header></header>

    <main>
        <!-- Título del contenido principal -->
        <h3 class="usuusu" id="mainTitle">Gestión de las categorias</h3>
        <div class="row">
            <!-- Formulario de búsqueda -->
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search" placeholder="Buscar" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                            </svg>
                        </button>
                    </div>
                </div>
            </form>

            <div class="col-sm-12 col-md-6 text-end">
                <!-- Botón para abrir una caja de diálogo al momento de crear un nuevo registro -->
                <button type="button" class="btnUsuAgregar" onclick="openCreate()">
                    <i class="bi bi-plus-square-fill">Agregar categoria</i>
                </button>
            </div>
        </div>

        <div class="container mt-5">
            <table class="table table-hover">
                <!-- Encabezado de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
                <thead>
                    <tr>
                        <td colspan="4" id="rowsFound"></td>
                    </tr>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <!-- Cuerpo de la tabla para mostrar un registro por fila-->
                <tbody id="tableBody">
                    
                </tbody> 
            </table>

        </div>

    </main>

    <footer class="test ">
    </footer>

    <!--xls de botones-->

    <!-- Componente Modal para guardar un registro -->
    <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalTitle"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Formulario para guardar un registro -->
                <form id="saveForm">
                    <div class="modal-body row g-3">
                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" class="d-none" id="id_categoria_producto " name="id_categoria_producto">
                        <div class="col-sm-12 col-md-6">
                            <label for="nombre_categoria_producto" class="form-label">Nombre</label>
                            <input id="nombre_categoria_producto" type="text" name="nombre_categoria_producto" class="form-control"
                                required>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="descripcion_categoria_producto" class="form-label">Descripción</label>
                            <input id="descripcion_categoria_producto" type="text" name="descripcion_categoria_producto"
                                class="form-control">
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="imagen_categoria_producto" class="form-label">Imagen</label>
                            <input id="imagen_categoria_producto" type="file" name="imagen_categoria_producto" class="form-control"
                                accept=".png, .jpg">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--agregar categoria-->
    <div class="modal fade" id="modal_agregar_categoría" tabindex="-1" data-bs-backdrop="static" aria-hidden="true"
        data-bs-keyboard="false" aria-labelledby="modalTitle">
        <div class="modal-dialog modal-xl" modal-dialog-centered>
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar categoría</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="saveForm">
                    <input type="number" id="id_categoria_producto" name="id_categoria_producto" class="d-none">
                    <div class="modal-body">
                        <!--contenido del modal-->
                        <form id="saveForm">
                            <div class="container text-center">
                                <div class="row">
                                    <form action="">
                                        <div class=" col">
                                            <img id="modalProfileImage" class="rounded  mx-auto d-block"
                                                style="margin-top: 3rem;"
                                                src="../../resources/img/productos/imagen_agregar.jpg" alt="..."
                                                width="300px">
                                            <br>
                                            <br>
                                            <label for="imagen_categoria" class="form-label">Imagen</label>
                                            <input id="imagen_categoria" type="file" name="imagen_categoria"
                                                class="form-control" accept=".png, .jpg">
                                        </div>
                                        <div class="col" style="margin-top: 3rem;">
                                            <div class="row">
                                                <div class="col">

                                                    <div class="letraPer col-md-8 fs-3">Nombre categoría
                                                    </div>
                                                    <div
                                                        class="cuadroText col-md-10 fs-3 border border-dark rounded text-start">
                                                        <input type="text" class="form-control fs-3"
                                                            aria-label="Sizing example input"
                                                            aria-describedby="inputGroup-sizing-default"
                                                            id="nombre_categoria">
                                                    </div>
                                                    <div class="letraPer col-md-10 fs-3">Descripción
                                                        categoría</div>
                                                    <div
                                                        class="cuadroText col-md-10 fs-3 border border-dark rounded text-start">
                                                        <textarea type="text" class="form-control fs-3"
                                                            aria-label="Sizing example input" style="height: 150px;"
                                                            aria-describedby="inputGroup-sizing-default"
                                                            id="descripcion_categoria"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--final del body-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar
                        </button>
                        <button type="submit" style="font-size: 30px;"
                            class="agreUs btn btn-outline-secondary">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--editar categoria-->
    <div class="modal fade" id="modal_editar_categoría" tabindex="-1" aria-labelledby="exampleModalLabel"
        data-bs-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Editar categoría</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="">
                    <div class="modal-body">
                        <!--contenido del modal-->

                        <div class="container text-center">
                            <div class="row">

                            </div>
                        </div>
                    </div>

                    <!--final del body-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar
                        </button>
                        <button type="button" class="btn btn-primary" id="btn_agregar_Producto">Guardar
                            categoría</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

<!--Enlaces para archivos bootstrap javascript-->
<script src="../../resources/js/bootstrap.bundle.min.js"></script>

<!--Enlace para poder mostrar alertas-->
<script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
<script src="../../controllers/utils/components.js"></script>
<script src="../../controllers/utils/explorador_modal.js"></script>
<script src="../../controllers/admin/plantillas.js"></script>
<!-- <script src="../../controllers//admin/alertas_alertas.js"></script> -->
<script src="../../controllers/admin/categoria.js"></script>


</html>