<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categoría</title>
    <link rel="icon" href="../../resources/img/iconos/loguito.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/index.css">

</head>

<body>

    <!--Navbar-->
    <header></header>
    <main>
        <br>
        <!-- Botón para agregar producto -->
        <button type="button" class="btn_producto_agregar" id="" data-bs-toggle="modal"
            data-bs-target="#agregarProducto" onclick="alertMine('agregar_categoría')">Agregar categoría</button>
        <!-- Título de la página -->
        <h2 class="usuusu">categoría</h2>
        <br>
        <div class="container">
            <div class="row">
                <!--Contenedor donde esta la tarjeta-->
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card my-3">
                        <img src="../../resources/img/categoria/cg1.jpeg" width="150px" class="rounded mx-auto d-block"
                            alt="Besos indesentes">
                        <div class="card-body">
                            <!-- Título y descripción del producto -->
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the
                                card title and make up the
                                bulk
                                of
                                the
                                card's content.</p>
                            <!-- Botones de acción (Eliminar, Editar, Información) -->
                            <div class="btn btn-outline-danger" onclick="alertMine('eliminar')">
                                <img id="" src="../../resources/img/iconos/papelera.png" class="botones_productos">
                            </div>
                            <div class="btn btn-outline-warning" onclick="alertMine('editar_categoría')">
                                <img src="../../resources/img/iconos/lapiz.png" class="botones_productos">
                            </div>
                            <div class="btn btn-outline-info" onclick="alertMine('información_categoría')">
                                <img src="../../resources/img/iconos/info.png" class="botones_productos">
                            </div>
                        </div>
                    </div>
                </div>

                <!--Contenedor donde esta la tarjeta-->
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card my-3">
                        <img src="../../resources/img/categoria/cg2.jpg" width="150px" class="rounded mx-auto d-block"
                            alt="Besos indesentes">
                        <div class="card-body">
                            <!-- Título y descripción del producto -->
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the
                                card title and make up the
                                bulk
                                of
                                the
                                card's content.</p>
                            <!-- Botones de acción (Eliminar, Editar, Información) -->
                            <div class="btn btn-outline-danger" id="BtnEliminar2" onclick="alertMine('eliminar')">
                                <img id="" src="../../resources/img/iconos/papelera.png" class="botones_productos">
                            </div>
                            <div class="btn btn-outline-warning" id="btn_editar2" onclick="alertMine('editar_categoría')">
                                <img src="../../resources/img/iconos/lapiz.png" class="botones_productos">
                            </div>
                            <div class="btn btn-outline-info" id="btn_info2" onclick="alertMine('información_categoría')">
                                <img src="../../resources/img/iconos/info.png" class="botones_productos">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Contenedor donde esta la tarjeta-->
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card my-3">
                        <img src="../../resources/img/categoria/cg3.jpg" height="150px" class="rounded mx-auto d-block"
                            alt="Besos indecentes">
                        <div class="card-body">
                            <!-- Título y descripción del producto -->
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the
                                card title and make up the
                                bulk
                                of
                                the
                                card's content.</p>
                            <!-- Botones de acción (Eliminar, Editar, Información) -->
                            <div class="btn btn-outline-danger" id="BtnEliminar3" onclick="alertMine('eliminar')">
                                <img id="" src="../../resources/img/iconos/papelera.png" class="botones_productos">
                            </div>
                            <div class="btn btn-outline-warning" id="btn_editar3" onclick="alertMine('editar_categoría')">
                                <img src="../../resources/img/iconos/lapiz.png" class="botones_productos">
                            </div>
                            <div class="btn btn-outline-info" id="btn_info3" onclick="alertMine('información_categoría')">
                                <img src="../../resources/img/iconos/info.png" class="botones_productos">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Contenedor donde esta la tarjeta-->
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card my-3">
                        <img src="../../resources/img/categoria/cg4.jpg" width="150px" class="rounded mx-auto d-block"
                            alt="...">
                        <div class="card-body">
                            <!-- Título y descripción del producto -->
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the
                                card title and make up the
                                bulk
                                of
                                the
                                card's content.</p>
                            <!-- Botones de acción (Eliminar, Editar, Información) -->
                            <div class="btn btn-outline-danger" id="BtnEliminar4" onclick="alertMine('eliminar')">
                                <img id="" src="../../resources/img/iconos/papelera.png" class="botones_productos">
                            </div>
                            <div class="btn btn-outline-warning" id="btn_editar4" onclick="alertMine('editar_categoría')" >
                                <img src="../../resources/img/iconos/lapiz.png" class="botones_productos">
                            </div>
                            <div class="btn btn-outline-info" id="btn_info4" onclick="alertMine('información_categoría')">
                                <img src="../../resources/img/iconos/info.png" class="botones_productos">


                            </div>
                        </div>
                    </div>
                </div>

    </main>

    <footer class="test ">
    </footer>
</body>

<!--Enlaces para archivos javascript-->
<script src="../../controllers/utils/dinamics_parts.js"></script>
<script src="../../controllers/utils/footer.js"></script>
<script src="../../controllers/utils/alertas.js"></script>

<!--Enlace para poder mostrar alertas-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!--Enlace para elementos del boostrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>


</html>