<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categoría</title>
    <!--Script para ponerle icono a la pagina-->
    <link rel="icon" href="../../resources/img/iconos/loguito.ico">
    <!--Enlace para mandar a llamar propiedad de boostrap.css-->
    <link rel="stylesheet" href="../../resources/css/css_boostrap.css">
    <!--Enlace para mandar a llamar el css-->
    <link rel="stylesheet" href="../../resources/css/index.css">
<!-- ejemplo -->
</head>

<body>

    <!--Navbar-->
    <header></header>

    <main>
        <br>
        <!-- Botón para agregar producto -->
        <button type="button" class="btn_producto_agregar" onclick="crear_categoria()">Agregar categoría</button>
        <!-- Título de la página -->
        <h2 class="usuusu">categoría</h2>
        <br>
        <div class="container">
            <div class="row" id="categorias"> 
                    <!--Contenedor donde esta la tarjeta
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card my-3">
                            <img src="../../resources/img/categoria/cg1.jpeg" width="150px" class="rounded mx-auto d-block"
                                alt="Besos indesentes">
                            <div class="card-body">
                                <!-- Título y descripción del producto 
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the
                                    card title and make up the
                                    bulk
                                    of
                                    the
                                    card's content.</p>
                                <!-- Botones de acción (Eliminar, Editar, Información) 
                                <div class="btn btn-outline-danger" onclick="alertMine('eliminar')">
                                    <img id="" src="../../resources/img/iconos/papelera.png" class="botones_productos">
                                </div>
                                <div class="btn btn-outline-warning" onclick="editar_categoria()">
                                    <img src="../../resources/img/iconos/lapiz.png" class="botones_productos">
                                </div>
                                <div class="btn btn-outline-info" onclick="alertMine('información_categoría')">
                                    <img src="../../resources/img/iconos/info.png" class="botones_productos">
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>

    </main>

    <footer class="test ">
    </footer>

    <!--modals de botones-->

    <!--agregar categoria-->
    <div class="modal fade" id="modal_agregar_categoría" tabindex="-1" aria-labelledby="exampleModalLabel"
        data-bs-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar categoría</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="">
                    <div class="modal-body">
                        <!--contenido del modal-->
                        <div class="container text-center">
                            <div class="row">
                                <form action="">
                                    <div class=" col">
                                        <img id="modalProfileImage" class="rounded  mx-auto d-block"
                                            style="margin-top: 3rem;"
                                            src="../../resources/img/productos/imagen_agregar.jpg" alt="..."
                                            width="300px">
                                        <br>
                                        <br>
                                        <input type="file" id="modalInputFile" style="display:none;" accept="image/*">
                                        <button type="button"
                                            class="botoncitoPerfilAgre btn btn-outline-dark btn-lg btn-block mx-auto order-2"
                                            onclick="abrirExploradorModal()">Insertar foto de
                                            categoría</button>
                                    </div>
                                    <div class="col" style="margin-top: 3rem;">
                                        <div class="row">
                                            <div class="col">

                                                <div class="letraPer col-md-8 fs-3">Nombre categoría
                                                </div>
                                                <div
                                                    class="cuadroText col-md-10 fs-3 border border-dark rounded text-start">
                                                    <input type="text" class="form-control fs-3"
                                                        aria-label="Sizing example input"
                                                        aria-describedby="inputGroup-sizing-default" value="">
                                                </div>
                                                <div class="letraPer col-md-10 fs-3">Descripción
                                                    categoría</div>
                                                <div
                                                    class="cuadroText col-md-10 fs-3 border border-dark rounded text-start">
                                                    <textarea type="text" class="form-control fs-3"
                                                        aria-label="Sizing example input" style="height: 150px;"
                                                        aria-describedby="inputGroup-sizing-default"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--final del body-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar
                        </button>
                        <button type="button" class="btn btn-primary" id="btn_agregar_Producto">Guardar
                            producto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--editar categoria-->
    <div class="modal fade" id="modal_editar_categoría" tabindex="-1" aria-labelledby="exampleModalLabel"
        data-bs-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Editar categoría</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="">
                    <div class="modal-body">
                        <!--contenido del modal-->

                        <div class="container text-center">
                            <div class="row">

                            </div>
                        </div>
                    </div>

                    <!--final del body-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar
                        </button>
                        <button type="button" class="btn btn-primary" id="btn_agregar_Producto">Guardar
                            categoría</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

<!--Enlaces para archivos bootstrap javascript-->
<script src="../../resources/js/js_boostrap.js"></script>

<!--Enlace para poder mostrar alertas-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="../../controllers/admin/alerta_categoria.js"></script>
<script src="../../controllers/utils/explorador_modal.js"></script>
<script src="../../controllers/admin/plantillas.js"></script>
<script src="../../controllers//admin/alertas_alertas.js"></script>
<script src="../../controllers/admin/categoria.js"></script>


</html>