<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/index.css">
</head>

<body>
    <header>

    </header>
    <main>
        <p class="TituPerfi text-center fs-1">Editar producto</p>
        <div class="container text-center">
            <div class="row">
                <div class="row">

                </div>
                <div class=" col-md-4">
                    <img class="rounded  mx-auto d-block" src="../../resources/img/productos/pd2.jpg" alt="..."
                        width="300px">
                    <br>
                    <br>

                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="letraPer col-md-4 fs-3">Nombre producto</div>
                            <div class="cuadroText col-md-8 fs-3 border border-dark rounded text-start">
                                <input type="text" class="form-control fs-3" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" value="paletas de frutas">
                            </div>
                            <div class="letraPer col-md-4 fs-3">Precio producto</div>
                            <div class="cuadroText col-md-8 fs-3 border border-dark rounded text-start">
                                <input type="text" class="form-control fs-3" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" value="$3.50">
                            </div>


                            <div class="letraPer col-md-4 fs-3">Marca producto</div>
                            <div class="cuadroText col-md-8 fs-3 border border-dark rounded text-start">
                                <input type="text" class="form-control fs-3" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" value="Columbia">
                            </div>

                            <div class="letraPer col-md-4 fs-3">Descripción producto</div>
                            <div class="cuadroText col-md-8 fs-3 border border-dark rounded text-start">
                                <textarea type="text" class="form-control fs-3" aria-label="Sizing example input"
                                    style="height: 200px;" aria-describedby="inputGroup-sizing-default">¡Sumérgete en la dulzura exótica con nuestra paleta de colores inspirada en fresitas
                                    chinas!</textarea>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>


    </main>
    <footer>

    </footer>

    <script src="../../controllers/utils/dinamics_parts.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>

</html>