<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio sesión</title>    
    <!--Script para ponerle icono a la pagina-->
    <link rel="icon" href="../../resources/img/iconos/loguito.ico">
    <!--Enlace para mandar a llamar propiedad de boostrap.css-->
    <link rel="stylesheet" href="../../resources/css/css_boostrap.css">
    <!--Enlace para mandar a llamar el css-->
    <link rel="stylesheet" href="../../resources/css/index.css">

</head>

<body>
    <!-- Contenedor principal con fondo -->
    <div class="Fondo">
        <!-- Navbar solo para el login -->
        <nav class="navbar bg-body-tertiary oscuro fixed-top">
            <div class="container-fluid  text-center mx-auto d-block">
                <a class="navbar-brand text_menu" href="#">IVANE CARE</a>
            </div>
        </nav>

        <!-- Sección de inicio de sesión -->
        <section class="vh-100">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong" style="border-radius: 5rem;">
                            <div class="card-body p-5 text-center border-radius: 5rem border-dark border-100">

                                <!-- Campo de entrada para el Nombre -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="usuario">Nombre</label>
                                    <br>
                                    <input type="email" id="usuario" class="form-control form-control-lg " />
                                </div>
                                <!-- Campo de entrada para la contraseña -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="contrasenia">Contraseña</label>
                                    <br>
                                    <input type="password" id="contrasenia"
                                        class="form-control form-control-lg border-Warning-subtle" />
                                </div>
                                <!-- Botón para iniciar sesión -->
                                <button id="BtnCorrecto" class="btn btn-lg btn-block" style="border-radius:1000rem"
                                    type="submit">Iniciar
                                    sesión</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="test">
        </footer>

    </div>
</body>


<!--Enlaces para archivos javascript-->
<script src="../../resources/js/index.js"></script>
<script src="../../controllers/utils/alertas.js"></script>
<script src="../../controllers/utils/footer.js"></script>

<!--Enlace para poder mostrar alertas-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!--Enlace para elementos del boostrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>


</html>