<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pedidos</title>
    <!--Script para ponerle icono a la pagina-->
    <link rel="icon" href="../../resources/img/iconos/loguito.ico">
    <!--Enlace para mandar a llamar propiedad de boostrap.css-->
    <link rel="stylesheet" href="../../resources/css/css_boostrap.css">
    <!--Enlace para mandar a llamar el css-->
    <link rel="stylesheet" href="../../resources/css/index.css">
    <link rel="stylesheet" href="../../resources/css/scrooll.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>


<body>

    <!--Navbar-->
    <header id="navbar">

    </header>

    <!-- tablas para usuarios -->
    <main>
        <!-- Título del contenido principal -->
        <h3 class="usuusu" id="mainTitle"></h3>
        <div class="row">
            <!-- Formulario de búsqueda -->
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row ms-4">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search" placeholder="Buscar" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Apartado de tabla de los pedidos
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div colspan="5" id="rowsFound" class="textoRegistros ms-5"></div>
        <div class="container-usuarios mb-5">
            <div class="table-responsive scrollbar tamañoScrool">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>NOMBRE CLIENTE</th>
                            <th>FECHA</th>
                            <th>DIRECCIÓN</th>
                            <th>ESTADO</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody"></tbody>
                </table>
            </div>
        </div>

    </main>
    <footer class="test ">
    </footer>

    <!-- Componente Modal para guardar un registro -->
    <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalTitle"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Formulario para crear o actualizar un registro -->
                <form id="saveForm">
                    <div class="modal-body row g-3">
                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" class="d-none" id="idPedido" name="idPedido">
                        <div class="d-flex justify-content-center">
                            <div class="text-center">
                                <label for="estadoPedido" class="form-label">Estado</label>
                                <select id="estadoPedido" name="estadoPedido" class="form-select" required>
                                    <option selected>Seleccione un estado</option>
                                    <option value="Entregado">Entregado</option>
                                    <option value="Anulado">Anulado</option>
                                    <option value="Pendiente">Pendiente</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="masInfo" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width: 100%;">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- Título del modal -->
                    <h6 class="modal-title w-100 text-center" id="modal">Información detallada del pedido</h6>
                    <!-- Botón de cierre del modal -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="TituPerfi text-center fs-1">Detalles del pedido</p>
                    <div class="container text-center">
                        <div class="row">
                            <div class="row">
                                <!--Imagen de perfil-->
                                <div class=" col-md-4">
                                    <img class="rounded  mx-auto d-block" src="../../resources/img/perfil.jpg" alt="..."
                                        width="250px">
                                    <br>
                                    <div class="col">
                                        <button type="button" id="BtnCheck"
                                            class="btn btn-outline-success rounded-circle"
                                            onclick="alertMine('entregado')"><img
                                                src="../../resources/img/iconos/check2.png" class="botones_productos"
                                                style="width: 50px;"></button>
                                        <button type="button" id="BtnCancel"
                                            class="btn btn-outline-danger rounded-circle"
                                            onclick="alertMine('pendiente')"><img
                                                src="../../resources/img/iconos/x_icono.png" class="botones_productos"
                                                style="width: 50px;"></button>
                                    </div>
                                </div>
                                <!-- Detalles del pedido -->
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <div class="letraPer col-md-8 fs-3">Nombre del usuario</div>
                                            <div
                                                class="cuadroText col-md-10 fs-3 border border-dark rounded text-start">
                                                Oscar Isaac
                                            </div>
                                            <div class="letraPer col-md-10 fs-3">Productos encargados/Cantidad
                                                solicitada</div>
                                            <div class="cuadroText col-md-10 fs-3 border border-dark rounded text-start"
                                                style="padding: 1rem;">
                                                <ul>Producto 1
                                                    <li>cantidad 3</li>
                                                </ul>
                                                <hr>
                                                <ul>Producto 2
                                                    <li>cantidad 3</li>
                                                </ul>
                                                <hr>
                                                <ul>Producto 3
                                                    <li>cantidad 3</li>
                                                </ul>
                                                <hr>
                                                <ul>Producto 4
                                                    <li>cantidad 3</li>
                                                </ul>
                                            </div>
                                            <div class="letraPer col-md-6 fs-3">Costo total</div>
                                            <div class="cuadroText col-md-8 fs-3 border border-dark rounded text-start">
                                                $20.25</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="masInfo2" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width: 100%;">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- Título del modal -->
                    <h6 class="modal-title w-100 text-center" id="modal2">Información detallada del pedido</h6>
                    <!-- Botón de cierre del modal -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- cuerpo del modal -->
                    <div colspan="5" id="rowsFound2" class="textoRegistros ms-5"></div>
                    <div class="table-responsive scrollbar tamañoScrool">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Productos</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody2"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!--Enlaces para archivos javascript-->
    <script src="../../controllers/utils/footer.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/admin/pedidos.js"></script>
</body>

</html>