<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>perfil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/index.css">
</head>

<body>
    <!--Navbar-->
    <!--Clase para medidas y tamaños de navbar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="mb-6 xs-6 xl-6 col-12">
            <div class="row">
                <div class="col-6">
                    <!--Clase donde se encuentra el navbar-->
                    <button class="boton navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Alternar navegación">
                        <span class="navbar-toggler-icon "></span>
                    </button>
                    <!--Clase donde se encuentra el navbar cuando colisiona-->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav  mb-2 mb-lg-0">
                            <a class="navbar-brand align-items-right" href="https://www.instagram.com/ivanecare/"><img
                                    src="../../resources/img/logo.png" width="60px"></a>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Usuarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Lista de Pedidos</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Clase donde se encuentra la imagen de perfil-->
                <div class="iconoder col-5 d-flex">
                    <ul class="navbar-nav ms-auto align-items-right" style="align-items: flex-end;">
                        <button class="rounded-circle border border-dark" type="button" data-bs-toggle="modal"
                            data-bs-target="#perfil">
                            <img class=" rounded-circle" src="../../resources/img/iconoPerfil.jpg" alt="" width="60px">
                        </button>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--Cuerpo de la pagina-->
    <main>
        <!--Aca solo es un simple texto-->
        <p class="text-center fs-1">Perfil</p>
        <!--Clase para poder alinear todo en una sola linea-->
        <div class="row">
            <div class="row">
                <!--Imagen de perfil-->
                <div class=" col-md-4 rounded  mx-auto d-block"><img src="../../resources/img/iconoPerfil.jpg" alt="..."
                        width="300px">
                    <br>
                    <br>
                    <br>
                    <button type="button" class="btn btn-outline-dark col-md-8 btn-lg btn-block  mx-auto d-block">Agregar Imagen</button>

                </div>
                <div class="col">
                    <br>
                    <div class="letraPer col-md-4 fs-3 ">Nombre</div>
                    <div id="CuadroNom" class="letraPer col-md-6 fs-3 border border-dark rounded">Veronica</div>
                    <div class="letraPer col-md-4 fs-3" style="margin-top: 20px;">Apellido</div>
                    <div id="CuadroApel" class="letraPer col-md-6 fs-3 border border-dark rounded">Sánchez</div>
                    <div class="letraPer col-md-4 fs-3 " style="margin-top: 20px;">Correo Electrónico</div>
                    <div id="CuadroCorreo" class="letraPer col-md-6 fs-3 border border-dark rounded">
                        Verititito@gmail.com
                    </div>
                    <div class="letraPer col-md-4 fs-3 " style="margin-top: 20px;">Nivel del Empleado</div>
                    <div id="CuadroNiveEmp" class="letraPer col-md-6 fs-3 border border-dark rounded">Administrador
                    </div>
                    <div class="letraPer col-md-4 fs-3 " style="margin-top: 20px;">Contraseña</div>
                    <div id="CuadroPass" type="password" class="letraPer col-md-6 fs-3 border border-dark rounded">
                        ........
                    </div>
                </div>
            </div>

            <!--Clase para poder alinear todo en una sola columna-->


        </div>


    </main>
    <footer class="test">

    </footer>
</body>



<script src="../../controllers/utils/dinamics_parts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>

</html>