<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuarios</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="../../resources/css/index.css">
  <!--Enlace para mandar a llamar propiedad de jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!--Enlace para poder mostrar alertas-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  <!--Navbar-->
  <header></header>
  <br>
  <br>

  <!-- tablas para usuarios -->

  <button type="button" class="btnUsuAgregar">Agregar usuario</button>
  <h2 class="usuusu">Usuarios</h2>
  <span>

    <!-- tablas para usuarios -->
    <div class="container-usuarios mb-5">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Perfil</th>
            <th>Nombre</th>
            <th>Rol</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Jacob</td>
            <td>Otto</td>
            <td>
              <button type="button" class="editar-btn"><img src="../../resources/img/iconos/lapiz.png"
                  class="botones_productos" alt="Editar"></button>
              <button id="BtnEliminar" type="button" class="borrar-btn"><img
                  src="../../resources/img/iconos/papelera.png" class="botones_productos" alt="Borrar"></button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>
              <button type="button" class="editar-btn"><img src="../../resources/img/iconos/lapiz.png"
                  class="botones_productos" alt="Editar"></button>
              <button id="BtnEliminar2" type="button" class="borrar-btn"><img
                  src="../../resources/img/iconos/papelera.png" class="botones_productos" alt="Borrar"></button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>
              <button type="button" class="editar-btn"><img src="../../resources/img/iconos/lapiz.png"
                  class="botones_productos" alt="Editar"></button>
              <button id="BtnEliminar3" type="button" class="borrar-btn"><img
                  src="../../resources/img/iconos/papelera.png" class="botones_productos" alt="Borrar"></button>
            </td>
          <tr>
            <th scope="row">4</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>
              <button type="button" class="editar-btn"><img src="../../resources/img/iconos/lapiz.png"
                  class="botones_productos" alt="Editar"></button>
              <button id="BtnEliminar4" type="button" class="borrar-btn"><img
                  src="../../resources/img/iconos/papelera.png" class="botones_productos" alt="Borrar"></button>
            </td>
          </tr>
          <tr>
            </td>
          <tr>
            <th scope="row">5</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>
              <button type="button" class="editar-btn"><img src="../../resources/img/iconos/lapiz.png"
                  class="botones_productos" alt="Editar"></button>
              <button id="BtnEliminar5" type="button" class="borrar-btn"><img
                  src="../../resources/img/iconos/papelera.png" class="botones_productos" alt="Borrar"></button>
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Alisson</td>
            <td>Zepeda</td>
            <td>
              <button type="button" class="editar-btn"><img src="../../resources/img/iconos/lapiz.png"
                  class="botones_productos" alt="Editar"></button>
              <button id="BtnEliminar6" type="button" class="borrar-btn"><img
                  src="../../resources/img/iconos/papelera.png" class="botones_productos" alt="Borrar"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>





    <footer class="test ">
    </footer>
    <script src="../../controllers/utils/dinamics_parts.js"></script>
    <script src="../../controllers/utils/alertas.js"></script>

    </div>
</body>
<script src="../../controllers/utils/dinamics_parts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>


</html>

<!--  <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Desplegable
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Acción</a></li>
                            <li><a class="dropdown-item" href="#">Otra acción</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Algo más aquí.</a></li>
                        </ul>
                    </li>-->