<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios Clientes</title>
    <!--Script para ponerle icono a la pagina-->
    <link rel="icon" href="../../resources/img/iconos/loguito.ico">
    <!--Enlace para mandar a llamar propiedad de boostrap.css-->
    <link rel="stylesheet" href="../../resources/css/css_boostrap.css">
    <!--Enlace para mandar a llamar el css-->
    <link rel="stylesheet" href="../../resources/css/index.css">
</head>

<body>
    <!--Navbar-->
    <header></header>
    <br>
    <br>

    <!-- tablas para usuarios -->

    <h2 class="usuusu">Usuarios clientes</h2>
    <span>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Apartado de tabla de los clientes
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="container-usuarios mb-5">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Perfil</th>
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td> <img src="../../resources/img/riverss.jpg" alt=""
                                class="tamanioImagenTablaEmpleado img-fluid "> </td>
                        <td>Jacob</td>
                        <td>Alexander</td>
                        <td>
                            <button type="button" data-bs-dismiss="modal" data-bs-toggle="modal"
                                data-bs-target="#ediusu" class="editar-btn"><img
                                    src="../../resources/img/iconos/lapiz.png" class="botones_productos"
                                    alt="Editar"></button>
                            <button id=" " onclick="alertMine('eliminarUsu')" type="button" class="borrar-btn"><img
                                    src="../../resources/img/iconos/papelera.png" class="botones_productos"
                                    alt="Borrar"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td> <img src="../../resources/img/riverss.jpg" alt=""
                                class="tamanioImagenTablaEmpleado img-fluid "> </td>
                        <td>Jacob</td>
                        <td>Rivera</td>
                        <td>
                            <button type="button" class="editar-btn"><img src="../../resources/img/iconos/lapiz.png"
                                    class="botones_productos" data-bs-dismiss="modal" data-bs-toggle="modal"
                                    data-bs-target="#ediusu" alt="Editar"></button>
                            <button id="" onclick="alertMine('eliminarUsu')" type="button" class="borrar-btn"><img
                                    src="../../resources/img/iconos/papelera.png" class="botones_productos"
                                    alt="Borrar"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td> <img src="../../resources/img/riverss.jpg" alt=""
                                class="tamanioImagenTablaEmpleado img-fluid "> </td>
                        <td>Darlen</td>
                        <td>Sanchez</td>
                        <td>
                            <button type="button" class="editar-btn"><img src="../../resources/img/iconos/lapiz.png"
                                    class="botones_productos" data-bs-dismiss="modal" data-bs-toggle="modal"
                                    data-bs-target="#ediusu" alt="Editar"></button>
                            <button id="" onclick="alertMine('eliminarUsu')" type="button" class="borrar-btn"><img
                                    src="../../resources/img/iconos/papelera.png" class="botones_productos"
                                    alt="Borrar"></button>
                        </td>
                    <tr>
                        <th scope="row">4</th>
                        <td> <img src="../../resources/img/riverss.jpg" alt=""
                                class="tamanioImagenTablaEmpleado img-fluid "> </td>
                        <td>Samantha</td>
                        <td>Castro</td>
                        <td>
                            <button type="button" data-bs-dismiss="modal" data-bs-toggle="modal"
                                data-bs-target="#ediusu" class="editar-btn"><img
                                    src="../../resources/img/iconos/lapiz.png" class="botones_productos"
                                    data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#ediusu"
                                    alt="Editar"></button>
                            <button id="" onclick="alertMine('eliminarUsu')" type="button" class="borrar-btn"><img
                                    src="../../resources/img/iconos/papelera.png" class="botones_productos"
                                    alt="Borrar"></button>
                        </td>
                    </tr>
                    <tr>
                        </td>
                    <tr>
                        <th scope="row">5</th>
                        <td> <img src="../../resources/img/riverss.jpg" alt=""
                                class="tamanioImagenTablaEmpleado img-fluid "> </td>
                        <td>Mumble</td>
                        <td>Sanchez</td>
                        <td>
                            <button type="button" class="editar-btn"><img src="../../resources/img/iconos/lapiz.png"
                                    class="botones_productos" data-bs-dismiss="modal" data-bs-toggle="modal"
                                    data-bs-target="#ediusu" alt="Editar"></button>
                            <button id="" onclick="alertMine('eliminarUsu')" type="button" class="borrar-btn"><img
                                    src="../../resources/img/iconos/papelera.png" class="botones_productos"
                                    alt="Borrar"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td> <img src="../../resources/img/riverss.jpg" alt=""
                                class="tamanioImagenTablaEmpleado img-fluid "> </td>
                        <td>Alisson</td>
                        <td>Zepeda</td>
                        <td>
                            <button type="button" class="editar-btn"><img src="../../resources/img/iconos/lapiz.png"
                                    class="botones_productos" data-bs-dismiss="modal" data-bs-toggle="modal"
                                    data-bs-target="#ediusu" alt="Editar"></button>
                            <button id="" onclick="alertMine('eliminarUsu')" type="button" class="borrar-btn"><img
                                    src="../../resources/img/iconos/papelera.png" class="botones_productos"
                                    alt="Borrar"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>





        <footer class="test ">
        </footer>

        </div>

        <!-- Ventana flotante para editar usuario clientes -->

        <!-- modal editar usuario-->
        <div class="modal fade" id="ediusu" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="width: 100%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- Título del modal -->
                        <h6 class="modal-title  w-100 text-center" id="modal">Editar datos del cliente</h6>
                        <!-- Botón de cierre del modal -->
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col">
                            <div class="row">
                                <!--Imagen de perfil-->
                                <div class=" row ">
                                    <div class="col-md-12 container d-flex align-items-center justify-content-center">
                                        <img class="rounded mx-auto d-block " src="../../resources/img/iconoPerfil.jpg"
                                            alt="..." width="300px">
                                        <br>
                                    </div>

                                    <div class="col">
                                        <form>
                                            <div class="form-group">
                                                <label for="CuadroNom" class="letraPer col-md-4 fs-3">Nombre</label>
                                                <input type="text"
                                                    class="form-control cuadroText col-md-8 fs-3 border border-dark rounded"
                                                    id="CuadroNom" placeholder="Veronica">
                                            </div>
                                            <div class="form-group">
                                                <label for="CuadroApel" class="letraPer col-md-4 fs-3">Apellido</label>
                                                <input type="text"
                                                    class="form-control cuadroText col-md-8 fs-3 border border-dark rounded"
                                                    id="CuadroApel" placeholder="Sanchez">
                                            </div>
                                            <div class="form-group">
                                                <label for="CuadroNomUsu" class="letraPer col-md-4 fs-3">Nombre de
                                                    usuario</label>
                                                <input type="text"
                                                    class="form-control cuadroText col-md-8 fs-3 border border-dark rounded"
                                                    id="CuadroNomUsu" placeholder="Veri2603">
                                            </div>
                                            <div class="form-group">
                                                <label for="CuadroCorreo" class="letraPer col-md-8 fs-3">Correo
                                                    electrónico</label>
                                                <input type="email"
                                                    class="form-control cuadroText col-md-8 fs-3 border border-dark rounded"
                                                    id="CuadroCorreo" placeholder="Verititito@gmail.com">
                                            </div>
                                            <div class="form-group">
                                                <label for="CuadroTel" class="letraPer col-md-4 fs-3">Telefono</label>
                                                <input type="number"
                                                    class="form-control cuadroText col-md-8 fs-3 border border-dark rounded"
                                                    id="CuadroTel" placeholder="1234-1234">
                                            </div>
                                            <div class="form-group">
                                                <label for="CuadroTelEmer" class="letraPer col-md-10 fs-3">Telefono de
                                                    emergencia</label>
                                                <input type="number"
                                                    class="form-control cuadroText col-md-8 fs-3 border border-dark rounded"
                                                    id="CuadroTelEmer" placeholder="1234-1234">
                                            </div>
                                            <div class="form-group">
                                                <label for="CuadroDUI" class="letraPer col-md-10 fs-3">DUI del
                                                    cliente</label>
                                                <input type="number"
                                                    class="form-control cuadroText col-md-8 fs-3 border border-dark rounded"
                                                    id="CuadroDUI" placeholder="12345678-9">
                                            </div>
                                            <div class="form-group">
                                                <label for="CuadroPass"
                                                    class="letraPer col-md-10 fs-3">Contraseña</label>
                                                <input type="password"
                                                    class="form-control cuadroText col-md-8 fs-3 border border-dark rounded"
                                                    id="CuadroPass" placeholder="contraseña">
                                            </div>
                                            <div class="form-group">
                                                <label for="CuadroFecha" class="letraPer col-md-10 fs-3">Fecha de
                                                    nacimiento</label>
                                                <input type="date"
                                                    class="form-control cuadroText col-md-8 fs-3 border border-dark rounded"
                                                    id="CuadroFecha" placeholder="12345678-9">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <!-- Botón para actualizar datos en el modal -->
                                <button onclick="alertMine ('modificarUsu')" type="button" type="button"
                                    style="font-size: 30px;" class="agreUs btn btn-outline-secondary">Editar</button>
                            </div>
                        </div>
                    </div>
</body>
<!--Enlaces para archivos javascript-->
<script src="../../controllers/utils/dinamics_parts.js"></script>
<script src="../../controllers/utils/alertas.js"></script>
<script src="../../controllers/utils/explorador_modal.js"></script>
<script src="../../controllers/utils/footer.js"></script>

<!--Enlace para poder mostrar alertas-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!--Enlace para elementos del boostrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

</html>

<!--  <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Desplegable
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Acción</a></li>
                            <li><a class="dropdown-item" href="#">Otra acción</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Algo más aquí.</a></li>
                        </ul>
                    </li>-->