<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios Empleados</title>
    <!--Script para ponerle icono a la pagina-->
    <link rel="icon" href="../../resources/img/iconos/loguito.ico">
    <!--Enlace para mandar a llamar propiedad de boostrap.css-->
    <link rel="stylesheet" href="../../resources/css/css_boostrap.css">
    <!--Enlace para mandar a llamar el css-->
    <link rel="stylesheet" href="../../resources/css/index.css">
    <link rel="stylesheet" href="../../resources/css/scrooll.css">
</head>

<body>
    <!--Navbar-->
    <header></header>

    <!-- tablas para usuarios -->
    <main>
        <!-- Título del contenido principal -->
        <h3 class="usuusu" id="mainTitle"></h3>
        <div class="row">
            <!-- Formulario de búsqueda -->
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search" placeholder="Buscar" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-sm-12 col-md-6 text-end">
                <!-- Botón para abrir una caja de diálogo al momento de crear un nuevo registro -->
                <button type="button" onclick="openCreate()" class="btnUsuAgregar">Agregar usuario</button>
            </div>
        </div>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Apartado de tabla de los empleados
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div colspan="5" id="rowsFound" class="textoRegistros"></div>
        <div class="container-usuarios mb-5">
            <div class="table-responsive scrollbar" style="max-height: 400px; overflow-y: auto;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>APELLIDO</th>
                            <th>NOMBRE</th>
                            <th>CORREO</th>
                            <th>ALIAS</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody"></tbody>
                </table>
            </div>
        </div>

        <!-- Inclusión de la librería de mascaras. Para más información https://github.com/text-mask/text-mask -->
        <script type="text/javascript" src="../../resources/js/vanillaTextMask.js"></script>
    </main>
    <footer class="test ">
    </footer>

    <!-- modal agregar empleado-->
    <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalTitle"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Formulario para guardar un registro -->
                <form id="saveForm">
                    <div class="modal-body">
                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" class="d-none" id="idAdministrador" name="idAdministrador">
                        <div class="col">
                            <div class="row">
                                <form>
                                    <div class="form-group">
                                        <label for="nombreAdministrador"
                                            class="form-label letraPer col-md-4 fs-3">Nombre</label>
                                        <input id="nombreAdministrador" type="text" name="nombreAdministrador"
                                            class="form-control cuadroText col-md-6 fs-3" placeholder="Veronica"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="apellidoAdministrador"
                                            class="form-label letraPer col-md-4 fs-3">Apellido</label>
                                        <input id="apellidoAdministrador" type="text" name="apellidoAdministrador"
                                            class="form-control cuadroText col-md-8 fs-3" placeholder="Sanchez"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="correoAdministrador"
                                            class="form-label letraPer col-md-4 fs-3">Correo</label>
                                        <input id="correoAdministrador" type="text" name="correoAdministrador"
                                            class="form-control cuadroText col-md-8 fs-3" placeholder="Sanchez"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="telefonoAdministrador"
                                            class="letraPer col-md-4 fs-3">Telefono</label>
                                        <input type="text" class="form-control cuadroText col-md-8 fs-3"
                                            name="telefonoAdministrador" id="telefonoAdministrador"
                                            placeholder="####-####" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="telefonoEmerAdministrador" class="letraPer col-md-10 fs-3">Telefono
                                            de
                                            emergencia</label>
                                        <input type="text" class="form-control cuadroText col-md-8 fs-3"
                                            name="telefonoEmerAdministrador" id="telefonoEmerAdministrador"
                                            placeholder="####-####" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="duiAdministrador" class="letraPer col-md-10 fs-3">DUI</label>
                                        <input type="text" class="form-control cuadroText col-md-8 fs-3"
                                            name="duiAdministrador" id="duiAdministrador" placeholder="########-#"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="aliasAdministrador"
                                            class="form-label letraPer col-md-10 fs-3">Alias</label>
                                        <input id="aliasAdministrador" type="text" name="aliasAdministrador"
                                            class="form-control cuadroText col-md-8 fs-3" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="claveAdministrador"
                                            class="letraPer col-md-10 fs-3">Contraseña</label>
                                        <input type="password" class="form-control cuadroText col-md-8 fs-3"
                                            name="claveAdministrador" id="claveAdministrador" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmarClave" class="letraPer col-md-10 fs-3">Confirmar
                                            contraseña</label>
                                        <input type="password" class="form-control cuadroText col-md-8 fs-3"
                                            name="confirmarClave" id="confirmarClave" required>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <!-- Botón para agregar los datos del empleado-->
                            <button type="submit" style="font-size: 30px;"
                                class="agreUs btn btn-outline-secondary">Agregar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!--Enlaces para archivos javascript-->
    <script src="../../controllers/admin/header_admin.js"></script>
    <script src="../../controllers/utils/footer.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/admin/administrador.js"></script>

</body>



</html>