@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Courgette", cursive;
    box-sizing: border-box;
    transition: 0.5s;
}



main {
    margin: 0px 10px 10px 10px;
    position: absolute;
    min-height: 100vh;
    position: sticky;
    padding-bottom: 50px;
}

.container {
    padding-bottom: 50px;
}

/*-----------------------------------
                 NAVBAR
  -----------------------------------
*/

.navbar-expand-lg {
    background-color: #1F1B47 !important;
    color: #fefefe !important;
}

.nav-link.active {
    color: #f3fefe !important;
    font-size: 30px !important;
}

.nav-link.active:active {
    background-color: rgba(214, 214, 214, 0.226) !important;
    border-radius: 50px;
}

.dropdown-toggle {
    color: #f3fefe !important;
    font-size: 30px !important;
}

.dropdown-toggle:active {
    background-color: rgba(214, 214, 214, 0.226) !important;
    border-radius: 50px;
}

.dropdown-item:active {
    background-color: rgb(125, 3, 173);
}

.corazon {
    background-color: #1F1B47 !important;
}

.corazon:active {
    background-color: rgba(214, 214, 214, 0.226) !important;
}

.iconoder {
    margin-top: 0px;
    margin-left: 10px;
}

.marcos {
    margin-left: 10px;
}

.boton {
    background-color: #878c94d3;
    margin-left: 10px;
}

.navbar-brand {
    color: #f3fefe !important;
    font-size: 30px !important;
}

span {
    color: #f3fefe;
}

/*Fin Navbar */



.Fondo {
    background: url(../img/fondo_inicio.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 70%;
    align-items: center;
}

input {
    border-color: blueviolet !important;
}

.test {
    border-radius: 100px 100px 0 0;
}

.oscuro {
    background-color: #1F1B47 !important;
}

section button {
    background-color: #1D1C6A !important;
    color: #fefefe !important;
}

.btncreapu {
    margin: 20px !important;
}

.navbar-brand {
    color: #f3fefe !important;
    font-size: 30px !important;
}


/*footer*/

footer {
    color: aliceblue;
    width: 100%;
    bottom: fixed;
    bottom: 0;
    left: 0;
    padding: 1px;
    background-color: #1F1B47 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.social-icons-container,
.footer-menu-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}


.social-icons {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #fefefe;
    background-image: url(../img/imagen_f.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icons:hover {
    background-color: #000000;
    filter: invert(40)
}

.social-icons:nth-last-of-type(2) {
    background-image: url(../img/imagen_c.png);
}

.social-icons:nth-last-of-type(3) {
    background-image: url(../img/imagen_i.png);
}

.social-icons:nth-last-of-type(4) {
    background-image: url(../img/imagen_x.png);
}

.footer-menu-conteiner {
    list-style-type: none;
    color: #fefefe;
    font-size: 18px;
}

/*-----------------------------------
        Cuerpo pantalla index
  -----------------------------------
*/


.noti1 img {
    height: 350px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 9px 14px 15px 2px #4a4a4a;
    animation: myAnim 2s ease 0s 1 normal forwards;
    transition: 1s;
    display: flex;
    transform: rotateY(-60deg);
}

/*Codigo que realiza una funcion. al pasar sobre la imagen*/
.noti1 img:hover {
    opacity: 85%;
    transform: none;
}

@keyframes myAnim {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}


.noti2 img {
    height: 350px;
    width: 500px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 9px 14px 15px 2px #4a4a4a;
    animation: animacionNoti2 2s ease 0s 1 normal forwards;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(-60deg);
}

.noti2 img:hover {
    opacity: 85%;
    transform: none;
}

@keyframes animacionNoti2 {
    0% {
        transform: scale(0.5);
        transform-origin: 50% 100%;
    }

    100% {
        transform: scale(1);
        transform-origin: 50% 100%;
    }
}

.noti3 img {
    height: 350px;
    width: 500px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 9px 14px 15px 2px #4a4a4a;
    animation: animacionNoti3 2s ease 0s 1 normal forwards;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(-60deg);
}

.noti3 img:hover {
    opacity: 85%;
    transform: none;
}


@keyframes animacionNoti3 {
    0% {
        transform: scale(0.5);
        transform-origin: 50% 100%;
    }

    100% {
        transform: scale(1);
        transform-origin: 50% 100%;
    }
}

/*Inicio codigo de textos fs-1*/
.textNoti1{
    margin-top: 110px;
    padding: 20px;
    transition: 1s;
    letter-spacing: normal;
    animation: textitoTitulo 2s ease 0s 1 normal forwards;
}

.textNoti {
    transition: 1s;
    letter-spacing: normal;
    animation: textitoTitulo 2s ease 0s 1 normal forwards;
}

.textNoti:hover {
    letter-spacing: .3em;
}

@keyframes textitoTitulo {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

/*Inicio codigo para las tarjetitas*/

.card{
    width: 15rem;
    margin-right: 40px;
    margin-bottom: 40px;
}

.btn_ver_mas {
    right: 20px;
    background-color: #1D1C6A;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 35px;
}

.btn_ver_mas:hover{
    background-color: #1F1B47;
    color: #f3fefe;
    box-shadow: 9px 14px 15px 2px #4a4a4a;
}


