*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: 0.5s;
}

main{
    margin:0px 10px 10px 10px;
}


 /* Navbar */
.navbar-expand-lg{  
    background-color: #1F1B47 !important;
    color: #fefefe !important;
}

.nav-link.active{
    color: #f3fefe !important;
    font-size: 30px !important;
    
}
.iconoder{
    margin-top: 0px;
    margin-left: 10px;
}



.boton{
    background-color: #fefefe;
}

.navbar-brand{
    color: #f3fefe !important;
    font-size: 30px !important;
}

span{
    color: #f3fefe;
}
 /*Fin Navbar */


.Fondo{
    background: url(../img/fondo_inicio.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 70%;
    align-items: center;
}

input{
    border-color: blueviolet !important;
}

.test{
  border-radius : 100px 100px 0 0;
}
.oscuro{
    background-color: #1F1B47 !important;
}
    
section button{
    background-color: #1D1C6A !important;
    color: #fefefe !important;
}

/*zona usuarios*/
 

.btnUsuAgregar {
    position: absolute;
    right: 20px;
    background-color: #1D1C6A;
    color: white;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px; 
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 35px;
     
  }
  
  .container-usuarios{
    padding: 2rem 3%;
  }

  .container-usuarios button {
    border-radius: 20px;
    background-color: #1D1C6A;
    color: white;
    padding: 15px 15px; 
    margin: 7px; 
    border: none; 
    cursor: pointer; 
  }

.usuusu{
    text-align:left;
    padding:  1rem 3%;
}
.text_menu{
    text-align: center;
    color: white !important;
    font: 150% sans-serif;
}

/*footer*/

footer{
    color: aliceblue;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #1F1B47 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p{
    text-align: center;
}

.social-icons-container, .footer-menu-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}


.social-icons{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #fefefe;
    background-image: url(../img/imagen_f.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icons:hover{
    background-color: #1F1B47;
    filter:invert(40)
}

.social-icons:nth-last-of-type(2){
    background-image: url(../img/imagen_c.png);
}

.social-icons:nth-last-of-type(3){
    background-image: url(../img/imagen_i.png);
}

.social-icons:nth-last-of-type(4){
    background-image: url(../img/imagen_x.png);
}

.footer-menu-conteiner{
    list-style-type: none;
    color: #fefefe;
    font-size: 18px;
}

.copyright{
    color: #fefefe;
    opacity: 0.3;
    text-align: center;
}