.scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #b05cff;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: #b05cff;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #41007e;
}

.textoRegistros {
    margin-top: 30px;
    margin-left: 30px;
}

.tamañoScrool {
    max-height: 400px;
    overflow-y: auto;
}