<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoria especifica</title>
    <link rel="icon" href="../../resources/img/iconos/iconoPagina.ico">
    <!--Enlace para mandar a llamar propiedad de boostrap.css-->
    <link rel="stylesheet" href="../../resources/css/css_boostrap.css">
    <link rel="stylesheet" href="../../resources/css/csspublic.css">
    <link rel="stylesheet" href="../../resources/css/estilo_Marca_Producto.css">
</head>

<body>
    <!--navbar-->
    <header>

    </header>
    <main>
        <div class="containerMarca">
            <div class="contenedorPadreMarca espaciadoMarca">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-8 col-sm-12 text-lg-start text-center">
                        <h5 class="fs-1 textMarcaP ms-5" id="mainTitle"></h5>
                        <h3 class="fs-4 ms-5 textMarcaM" id="descripcionCategoria">
                        </h3>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                        <div id="imagenCategoria">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center fs-2 mt-5">
            <p>DISTINTOS TIPOS DE PRODUCTOS !!</p>
        </div>
        <div class="container d-flex">
            <div class="container  row d-flex flex-wrap" id="productosMarc"></div>
        </div>
        </div>
        </div>
    </main>
    <footer class="test ">

    </footer>

    <!--Enlace para elementos del boostrap-->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <!--Enlace para poder mostrar alertas-->
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!--Enlaces para archivos javascript-->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/producto_categoria.js"></script>

</body>


</html>