<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
    <link rel="icon" href="../../resources/img/iconos/iconoPagina.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/csspublic.css">
</head>

<body class="fonditoContactos">
    <!--navbar-->
    <header>
    </header>
    <main>
        <p class="fs-1 textNoti1 text-center text-light">Algunos de nuestros datos </p>
        <!------------------------------------
            Apartado de "información relevante"
            ------------------------------------->
        <div class="container text-center">
            <div class="contact justify-content-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-5">
                            <p class="fs-3 text-light">Nuestro número de teléfono </p>
                            <div class="p-3 decoCuadros">Tel: +503 6127-7586</div>
                            <img class="img-fluid rounded-3 mt-4 " style="width: 300px;"
                                src="../../resources/img/telefonoContacto.png" alt="">
                        </div>
                        <div class="col-md-5">
                            <p class="fs-3 text-light">Nuestro correo electrónico</p>
                            <div class="p-3 decoCuadros"> ivanecare@gmail.com</div>
                            <img class="img-fluid rounded-3 mt-4 " style="width: 500px;"
                                src="../../resources/img/correoContacto.png" alt="">
                        </div>
                        <div class="col-md-5">
                            <p class="fs-3 text-light">Nuestro jefe empresarial</p>
                            <div class="p-3 decoCuadros">Jeremy Leandro Castro Moreno
                                <p class="mt-2">Tel: +503 2603-2022</p>
                                <p>correo: JeVer26@gmail.com</p>
                            </div>
                            <img class="img-fluid rounded-3 mt-4 " style="width: 300px;"
                                src="../../resources/img/yo.png" alt="">
                        </div>
                        <div class="col-md-5">
                            <p class="fs-3 text-light">Nuestro tik tok</p>
                            <div class="p-3 decoCuadros">ivanecare</div>
                            <img class="img-fluid rounded-3 " style="width: 250px;" src="../../resources/img/tiktok.png"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="fs-1 textNoti1 text-center">Nuestra ubicacion </p>
        <!------------------------------------
            Apartado de mapa de localidad
            ------------------------------------->
        <div class="container text-center">
            <div class="mapita justify-content-center">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31009.60313220094!2d-89.2508168759849!3d13.706309782761057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f63312cffdc0e23%3A0xfd208b3a87cfb4d9!2sMetrocentro%20San%20Salvador!5e0!3m2!1ses-419!2ssv!4v1710707381926!5m2!1ses-419!2ssv"
                    width="900" height="650" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>


    </main>

    <footer class="test ">
    </footer>


</body>

<!--Enlace para elementos del boostrap-->
<script src="../../resources/js/bootstrap.bundle.min.js"></script>

<!--Enlace para poder mostrar alertas-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!--Enlaces para archivos javascript-->
<script src="../../controllers/public/navbar.js"></script>
<script src="../../controllers/public/alertas_publicas.js"></script>
<script src="../../controllers/utils/footer.js"></script>


</html>