<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list de deseos</title>
    <link rel="icon" href="../../resources/img/iconos/iconoPagina.ico">
    <link rel="stylesheet" href="../../resources/css/css_boostrap.css">
    <link rel="stylesheet" href="../../resources/css/csspublic.css">
</head>

<body>
    <!--navbar-->
    <header>

    </header>
    <main style="margin-top: 150px;">

        <div class="row">
            <h1 class="titulo_ld text-center">Historial de compras</h1>
            <div class="col-lg-8" id="lista">

                <!--productos en card-->


            </div>

            <!---->
            <div class="col-lg-4 " >
                <h3 class="text-secondary-emphasis mb-4">Productos que te pueden interesar</h3>
                <div id="sugerencia"></div>


            </div>

        </div>
    </main>
    <footer class="test ">

    </footer>


    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <!--Enlace para poder mostrar alertas-->
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>

    <!--Enlaces para archivos javascript-->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!--Enlaces para archivos javascript-->
    <script src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script src="../../controllers/public/historial_compra.js"></script>
</body>




</html>