<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripcion del producto</title>
    <!--Script para ponerle icono a la pagina-->
    <link rel="icon" href="../../resources/img/iconos/loguito.ico">
    <!--Enlace para mandar a llamar propiedad de boostrap.css-->
    <link rel="stylesheet" href="../../resources/css/css_boostrap.css">
    <!--Enlace para mandar a llamar el css-->
    <link rel="stylesheet" href="../../resources/css/csspublic.css">
    <link rel="stylesheet" href="../../resources/css/estrellas_estilo.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">

</head>

<body>
    <!--navbar-->
    <header>
    </header>
    <!--contenido-->
    <main>
        <!--imagen de producto-->
        <div class="container text-center" style="padding-top: 50px;">
            <div class="row">
                <div class=" col">
                    <img id="imagenProducto" alt="Fallo en cargar imagen"
                        class="rounded  mx-auto d-block border producto_imagen" width="300px">
                    <br>
                    <br>
                    <input type="file" id="modalInputFile" style="display:none;" accept="image/*">
                    <div class="row align-items-center">
                        <h5 class="precioCarito">Precio de producto $: </h5>
                        <b id="precioProducto"></b>
                        <h5 class="precioCarito">Cantidad producto</h5>
                        <b id="cantidadProducto"></b>
                        <div class="col-auto">
                            <i id="BtnCorazon" onclick="alertMine('agregarCorazon')"
                                class="corazonc bi bi-suit-heart-fill"></i>
                        </div>
                    </div>
                    <!--precio de producto-->
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col" style="margin-top: 3rem;">

                            <div class="letraCar fs-3 col-md-4 mt-5 text-start" id="marcas">
                                <!-- <input type="number" class="d-none" id="idProducto" name="idMarca"> -->
                            </div>


                            <div class="letraCar fs-3 col-md-4 mt-3 text-start" id="nombreProducto"></div>
                            <!--Descripcion de producto-->
                            <div class="letraCar col-md-8 fs-3 mt-3 text-start" id="descripcionProducto"></div>
                            <br>
                            <br>
                            <!-- Formulario para agregar el producto al carrito de compras -->
                            <form class="row" id="shoppingForm">
                                <!-- Campo oculto para asignar el id del producto -->
                                <input type="number" class="d-none" id="idProducto" name="idProducto">
                                <div class="col-6">
                                    <input type="number" id="cantidadProducto" name="cantidadProducto" min="1"
                                        class="form-control" placeholder="Ingrese cantidad" required>
                                </div>
                                <div class="col-6 align-self-end">
                                    <button type="submit" class="btn btn-primary" id="BtnCorrecto">
                                        <!-- onclick="alertMine('agregarAlCarrito')" -->
                                        <i class="bi bi-cart-plus-fill"></i> Comprar
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Comentarios de producto -->
        <div class="row">
            <!-- Parte del input y las estrellas -->
            <div class="col-lg-6 col-sm-12">
                <div class="starcom">
                    <div class="letraPer fs-3">Reseñas de clientes</div>
                    <!-- Estrellas comentadas del producto -->
                    <h2 class="CuantasEstrellas">5.00</h2>
                    <div class="ms-5 rating">
                        <input value="5" name="rating" id="star5" type="radio">
                        <label for="star5"></label>
                        <input value="4" name="rating" id="star4" type="radio">
                        <label for="star4"></label>
                        <input value="3" name="rating" id="star3" type="radio">
                        <label for="star3"></label>
                        <input value="2" name="rating" id="star2" type="radio">
                        <label for="star2"></label>
                        <input value="1" name="rating" id="star1" type="radio">
                        <label for="star1"></label>
                    </div>
                </div>
                <div class="cocomen">
                    <div class="letraPer fs-3">Comenta del producto</div>
                    <textarea id="textoComentario" type="text" class="form-control fs-3"
                        aria-label="Sizing example input" style="height: 150px;"
                        aria-describedby="inputGroup-sizing-default"></textarea>
                    <div class="text-center mt-3">
                        <button id="BtnCorrecto" onclick="alertMine('agregarComentario')" class="btnañacarrito btn"
                            type="button">Añadir Comentario</button>
                    </div>
                </div>
            </div>
            <!-- Placeholder div with id="rowsFound" -->
            <div id="rowsFound" class="col-lg-6 col-sm-12"></div>
            <!-- Tabla de comentarios del producto -->
            <div class="col-lg-8 col-sm-12">
                <div class="table-responsive scrollbar tamañoScrool">
                    <table class="table table-hover">
                        <div id="mainTitle" class="mt-3 mb-3"></div>
                        <thead>
                            <tr>
                                <th>IMAGEN</th>
                                <th>alias</th>
                                <th>comentario</th>
                                <th>estrellas</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody"></tbody>
                    </table>
                </div>
            </div>
        </div>

        <!------------------------------------
            Apartado de descuentos de la semana
            ------------------------------------->
        <p class="fs-1 textNoti">Te podria interesar</p>
        <div class="container">
            <div class="row justify-content-center">
                <div class="container-carousel rounded-5">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" id="sugerenciasProductos">
                            <!--tarjeta 1-->

                            <div class="carousel-item active">
                                <div class="d-flex justify-content-center">
                                    <div class="card">
                                        <div class="img-wrapper">
                                            <img src="../../resources/img/imagenesIndex/producto8.jpg" alt="...">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Protector Solar Nivea Control De Brillo</h5>
                                            <p class="">$14.80
                                            </p>
                                            <div class="text-center mt-2">
                                                <a href="../public/descripcion_producto.html"
                                                    class="btn btn_ver_mas">Más información</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </main>

    <footer class="test">
    </footer>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!--Enlace para elementos del boostrap-->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <!--Enlace para poder mostrar alertas-->
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!--Enlaces para archivos javascript-->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script src="../../controllers/public/producto.js"></script>

</body>

</html>