<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripcion del producto</title>
    <!--Script para ponerle icono a la pagina-->
    <link rel="icon" href="../../resources/img/iconos/loguito.ico">
    <!--Enlace para mandar a llamar propiedad de boostrap.css-->
    <link rel="stylesheet" href="../../resources/css/css_boostrap.css">
    <!--Enlace para mandar a llamar el css-->
    <link rel="stylesheet" href="../../resources/css/csspublic.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>
    <!--navbar-->
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
            <div class="mb-6 xs-6 xl-6 col-12">
                <div class="row marcos">
                    <div class="col-6">
                        <button class="boton navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Alternar navegación">
                            <span class="navbar-toggler-icon "></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav  mb-2 mb-lg-0">
                                <a class="navbar-brand align-items-right" href="#"><img
                                        src="../../resources/img/logo.png" width="60px"></a>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" aria-current="page" href="" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Productos
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" aria-current="page"
                                                href="../../views/public/index.html">Productos</a></li>
                                        <li><a class="dropdown-item" aria-current="page"
                                                href="../../views/public/marca.html">Marcas</a></li>
                                        <li><a class="dropdown-item" aria-current="page"
                                                href="../../views/public/categoria.html">Categorias</a></li>
                                    </ul>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page"
                                        href="../../views/public/contactos.html">Contactos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page"
                                        href="../../views/public/historia.html">Sobre nosotros</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="iconoder col-5 d-flex">
                        <ul class="navbar-nav ms-auto align-items-right flex-row" style="align-items: flex-end;">
                            <button class="corazon rounded border border-dark" type="button" data-bs-toggle="modal"
                                data-bs-target="#perfil">
                                <a class="nav-link active" aria-current="page"
                                    href="../../views/public/lista_deseo.html">
                                    <img src="../../resources/img/lupa.png" alt="..." width="70px">
                            </button>
                            <button class="corazon rounded border border-dark" type="button" data-bs-toggle="modal"
                                data-bs-target="#perfil">
                                <a class="nav-link active" aria-current="page"
                                    href="../../views/public/lista_deseo.html">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="55" height="60" fill="#ffffff"
                                        class="bi bi-heart" viewBox="0 0 16 16">
                                        <path
                                            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                                    </svg>
                            </button>
                            <button class="corazon rounded border border-dark" type="button" data-bs-toggle="modal"
                                data-bs-target="#perfil">
                                <a class="nav-link active" aria-current="page"
                                    href="../../views/public/carrito_compra.html">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="55" height="60" fill="#ffffff"
                                        class="bi bi-cart mx-3" viewBox="0 0 16 16">
                                        <path
                                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                                    </svg>
                                </a>
                            </button>
                            <button class="corazon rounded border border-dark" type="button" data-bs-toggle="modal"
                                data-bs-target="#perfil">
                                <a class="nav-link active" aria-current="page"
                                    href="../../views/public/perfil_cliente.html">
                                    <img class="tamañoImagenPerfil rounded-circle"
                                        src="../../resources/img/iconoPerfil.jpg" alt="" width="55px" height="55">
                                </a>
                            </button>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!--contenido-->
    <main>
        <!--imagen de producto-->
        <div class="container text-center" style="padding-top: 50px;">
            <div class="row">
                <div class=" col">
                    <img id="carrito" class="rounded  mx-auto d-block border" style="margin-top: 3rem;"
                        src="../../resources/img/productos/pd8.png" alt="..." width="300px">
                    <br>
                    <br>
                    <input type="file" id="modalInputFile" style="display:none;" accept="image/*">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i id="BtnCorazon" onclick="alertMine('agregarCorazon')"
                                class="corazonc bi bi-suit-heart-fill"></i>
                            <h5 class="precioCarito">Precio de producto</h5>
                            <b id="existenciasProducto"></b>
                        </div>
                    </div>
                    <!--precio de producto-->
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col" style="margin-top: 3rem;">

                            <div class="letraCar fs-3 col-md-4 mt-5 text-start">
                                <a href="../public/marca_especifica.html">Garnier</a>
                            </div>
                            <div class="letraCar fs-3 col-md-4 mt-3 text-start" id="nombreProducto"></div>
                            <!--Descripcion de producto-->
                            <div class="letraCar col-md-8 fs-3 mt-3 text-start"></div>
                            <br>
                            <br>
                            <div class="d-grid  d-md-block text-center">
                                <button id="BtnCorrecto" onclick="alertMine('agregarAlCarrito')"
                                    class="btnañacarrito btn" type="button">Añadir a
                                    carrito</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--comentarios de producto-->
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="starcom">
                    <div class="letraPer  fs-3">reseñas de clientes</div>
                    <!--Estrellas comentadas de el producto-->
                    <h2 class="CuantasEstrellas">5.00</h2>
                    <i class="star bi bi-star-fill"></i>
                    <i class="star bi bi-star-fill"></i>
                    <i class="star bi bi-star-fill"></i>
                    <i class="star bi bi-star-fill"></i>
                    <i class="star bi bi-star-fill"></i>
                </div>
                <div class="cocomen">
                    <div class="letraPer fs-3">Comenta del producto</div>
                    <textarea id="textoComentario" type="text" class="form-control fs-3"
                        aria-label="Sizing example input" style="height: 150px; width: 500px; margin-left: 40px;"
                        aria-describedby="inputGroup-sizing-default"></textarea>
                    <div class="text-center mt-3">
                        <button id="BtnCorrecto" onclick="alertMine('agregarComentario')" class="btnañacarrito btn"
                            type="button">Añadir Comentario</button>
                    </div>
                </div>


            </div>
            <!--tabla de comentarios de producto-->
            <div class="col-lg-8 col-sm-12">
                <table class="tableComen">
                    <h4 class="text-center mt-4">Comentarios</h4>
                    <thead>
                        <tr>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">estrellas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>
                                <i class="stark bi bi-star-fill"></i>
                                <i class="stark bi bi-star-fill"></i>
                                <i class="stark bi bi-star-fill"></i>
                                <i class="stark bi bi-star-fill"></i>
                                <i class="stark bi bi-star-fill"></i>
                                <p>Es bastante bueno me encanta el sabor y olor</p>

                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>
                                <i class="stark bi bi-star-fill"></i>
                                <i class="stark bi bi-star-fill"></i>
                                <i class="stark bi bi-star-fill"></i>
                                <i class="stark bi bi-star-fill"></i>
                                <i class="stark bi bi-star-fill"></i>
                                <p>Me gusto mucho el acabado y duracion</p>

                            </td>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>
                                <i class="stark bi bi-star-fill"></i>
                                <i class="stark bi bi-star-fill"></i>
                                <i class="stark bi bi-star-fill"></i>
                                <i class="stark bi bi-star-fill"></i>
                                <i class="stark bi bi-star-fill"></i>
                                <p>No se transfiere y me encanta que aunque tome agua sigue ahi</p>

                            </td>
                        </tr>
                        <tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!------------------------------------
            Apartado de descuentos de la semana
            ------------------------------------->
        <p class="fs-1 textNoti">Te podria interesar</p>
        <div class="container">
            <div class="row justify-content-center">
                <div class="container-carousel rounded-5">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <!--tarjeta 1-->
                            <div class="carousel-item active">
                                <div class="d-flex justify-content-center">
                                    <div class="card">
                                        <div class="img-wrapper">
                                            <img src="../../resources/img/imagenesIndex/producto8.jpg" alt="...">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Protector Solar Nivea Control De Brillo</h5>
                                            <p class="">$14.80
                                            </p>
                                            <div class="text-center mt-2">
                                                <a href="../public/descripcion_producto.html"
                                                    class="btn btn_ver_mas">Más información</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--tarjeta 2-->
                            <div class="carousel-item">
                                <div class="d-flex justify-content-center">
                                    <div class="card">
                                        <div class="img-wrapper">
                                            <img src="../../resources/img/imagenesIndex/producto3.jpg" alt="...">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">UV-Defender-Protector-Solar-Diario</h5>
                                            <p class="">$20.80
                                            </p>
                                            <div class="text-center mt-2">
                                                <a href="../public/descripcion_producto.html"
                                                    class="btn btn_ver_mas">Más información</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--tarjeta 3-->
                            <div class="carousel-item">
                                <div class="d-flex justify-content-center">
                                    <div class="card">
                                        <div class="img-wrapper">
                                            <img src="../../resources/img/imagenesIndex/producto4.jpg" alt="...">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">OPI - Esmalte de uñas, 0.5 onzas líquidas</h5>
                                            <p class="">$2.00
                                            </p>
                                            <div class="text-center mt-2">
                                                <a href="../public/descripcion_producto.html"
                                                    class="btn btn_ver_mas">Más información</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </main>

    <footer class="test">
    </footer>
</body>

<!--Enlace para elementos del boostrap-->
<script src="../../resources/js/bootstrap.bundle.min.js"></script>

<!--Enlace para poder mostrar alertas-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!--Enlaces para archivos javascript-->
<script src="../../controllers/public/alertas_publicas.js"></script>
<!-- <script src="../../controllers/public/navbar.js"></script> -->
<script src="../../controllers/utils/footer.js"></script>

</html>